@font-face {
  font-family: "kanit";
  src: url(../font/Kanit-Light.ttf);
}

* {
  box-sizing: border-box;
  font-family: "kanit";
  list-style: none;
  background: rgb(66, 6, 6);
  color: rgb(247, 204, 13);
}

nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0 20px;
  border: solid rgb(247, 204, 13) 2px;
  border-radius: 50px;
}

form {
  margin: auto;
}

input {
  outline: none;
  border: 1px solid rgb(247, 204, 13);
  background: rgba(247, 204, 13, 0.329);
}

button {
  background: none;
  border-radius: 50px;
  margin-left: 20px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid rgb(247, 204, 13);
}

.title-create-recipe {
  text-align: center;
}

.searchBar {
  display: grid;
  grid-template-columns: 70% 30%;
  border: 2px solid;
  border-radius: 50px;
  margin: 0 40px;
  padding: 10px;
}

.searchBar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.select {
  border: none;
  cursor: pointer;
}
